.section--pecularities {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0px;
  }
}
.pecularities--list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.pecularity__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    margin-right: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
    flex-basis: calc(100% / 4 - 30px);
  }
}
.pecularity__svg {
  @extend %centeredFlex;
  height: 120px;
  border-radius: $item-border-radius;
  background: #f5f4fa;
  margin-bottom: 30px;
}

.pecularities__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  @media screen and(min-width: 768px) {
    text-align: start;
  }
}

.pecularities__text {
  color: $title-text-color;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
