.nav-btn {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  & .item-btn:not(:last-child) {
    margin-right: 6px;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
.item-btn {
  margin-bottom: 15px;
  &:nth-child(4),
  &:nth-child(5) {
    margin-bottom: 0px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.btn {
  padding: 6px 22px;
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  text-align: center;
  background: #f5f4fa;
  border-radius: $item-border-radius;
  text-decoration: none;
  border: none;
  cursor: pointer;
  box-shadow: none;
  transition: color 250ms $animation-cubic, background 250ms $animation-cubic,
    box-shadow 250ms $animation-cubic;
  &:focus,
  &:hover {
    color: $accent-text-color;
    background: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
