.footer {
  background: #2f303a;
}
.page-footer {
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  padding: 60px 0px;
}
.adress-box {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    margin-left: 76px;
    margin-right: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    align-items: flex-start;
  }
}
.footer-social-list {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.logo--footer {
  color: $accent-text-color;
}
.footer-list {
  margin-top: 20px;
}
.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
  & .item-link:not(:last-child) {
    // display: flex;
    margin-bottom: 9px;
  }
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link {
  color: $accent-text-color;
  line-height: 2;
  font-size: 14px;
}

.footer a {
  text-decoration: none;
}
.footer-box {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // align-items: baseline;
}
.social-box {
  display: flex;
  justify-content: center;
  // align-items: flex-start;
  flex-direction: column;

  margin-bottom: 60px;
  @media screen and(min-width: 1200px) {
    align-items: flex-start;
    margin-left: 70px;
  }
}
.footer-box-title {
  margin-bottom: 20px;
  color: $accent-text-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.footer-item-link {
  background: rgba(255, 255, 255, 0.1);
  transition: background 250ms $animation-cubic;
}
.footer-item-fill {
  transform: scale(1);
  fill: $accent-text-color;
  transition: transform 250ms $animation-cubic, fill 250ms $animation-cubic;
  &:hover {
    transform: scale(1.25);
    fill: #fff;
  }
}

.mail-box {
  width: 100%;
  margin-bottom: 0px;
  @media screen and (min-width: 768px) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 0;
    margin-left: 93px;
  }
}

.footer-btn {
  @extend %centeredFlex;
  margin-right: auto;
  margin-left: auto;
}

.mail-label {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: $item-border-radius;
  outline: none;
  background-color: inherit;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  @media screen and(min-width: 1200px) {
    width: 358px;
    height: 50px;
    margin-right: 12px;
  }
}

.footer-item-telega {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
