.logo {
  display: inline-block;
  color: $primary-text-color;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.16em;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  &--accent {
    color: $accent-color;
  }
}
