.menu-button {
  display: inline-flex;
  border: none;
  margin: 0px;
  padding: 0px;
  fill: $primary-text-color;
  background-color: transparent;
  transition: fill 250ms $animation-cubic;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
  @media screen and(max-width: 479px) {
    margin: 8px;
  }
  @media screen and(min-width: 480px) {
    margin: -8px;
  }
  @media screen and(min-width: 768px) {
    display: none;
  }
}
.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: #fff;
  padding: 48px 40px;
  transform: scale(0);
  transition: transform 250ms $animation-cubic;
}
.menu-container.is-open {
  transform: scale(1);
}
.menu-button--close {
  position: absolute;
  top: 10px;
  right: 15px;
  fill: $primary-text-color;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-item:not(:last-child) {
  margin-bottom: 32px;
}
.menu-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  transition: fill 250ms $animation-cubic;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.menu-wraperr-contacts {
  margin-top: auto;
}
.menu-link--tel {
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.menu-link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16em;
  letter-spacing: 0.02em;
  color: $title-text-color;
}
.menu-list-social {
  display: flex;
  margin-top: 64px;
}
.menu-list-social__item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.menu-list-social__link {
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22em;
  letter-spacing: 0.02em;
  color: $accent-color;
}
.menu-list-social__link--position {
  padding-left: 0;
}
