.page-header {
  position: fixed;
  min-width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  background: $main-background;
  border-bottom: 1px solid #ececec;
}
.menu-button {
  display: inline-flex;
  border: none;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}

.menu-button__icon-close {
  display: none;
}

.is-open .menu-button__icon-close {
  display: none;
}

.is-open .menu-button__icon-menu {
  display: block;
}
