.form {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}
.form-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;
  color: $title-text-color;
}
