.project-list {
  display: flex;
  flex-wrap: wrap;
 
  @media screen and (min-width: 768px) {
    margin-right: calc(-1 * #{$item-card});
  }
  @media screen and (min-width: 1200px) {
    margin-right: calc(-1 * #{$item-card});
  }
}
.project-item {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: $item-card;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    width: 354px;
    &:nth-child(even) {
      margin-right: 0px;
    }
    

    margin-right: $item-card;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
    flex-basis: calc(100% / 3 - 30px);
    &:nth-child(even) {
      margin-right: 30px;
    }
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(9) {
      margin-right: 0px;
    }
    &:nth-child(7),
    &:nth-child(8) {
      margin-bottom: 0;
    }
    // &:nth-child(odd) {
    //   margin-right: 0px;
    // }
    // flex-basis: calc((100% / 3) - $item-card);
  }
}
