body {
  color: $primary-text-color;
  background: $main-background;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: 0;
  padding-top: 80px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.box-link {
  display: flex;
  align-items: center;
}
